@import "./variables";

@mixin large {
  @media (min-width: #{size(normal)}) {
    @content;
  }
}

@mixin desktop {
  @media (max-width: #{size(desktop)}) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: #{size(tablet)}) {
    @content;
  }
}

@mixin ipad {
  @media (max-width: #{size(ipad)}) {
    @content;
  }
}

@mixin phone {
  @media (max-width: #{size(phone)}) {
    @content;
  }
}

@mixin container {
  h1 {
    font-family: Cabin;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
    color: color(black-light);
    text-align: left;
  }

  h2 {
    font-family: Cabin;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    color: color(black-light);
    text-align: left;

    @include ipad {
      font-size: 19px;
    }
  }

  @content;
}

@mixin content {
  margin: 0 auto;
  padding-top: 12px;
  padding-bottom: 120px;

  @include large {
    width: size(normal);
  }

  @include tablet {
    padding: 0px 30px 100px 30px;
  }

  @include ipad {
    display: inherit;
    padding: 0px 114px 100px 114px;
  }

  @include phone {
    padding: 0px 24px 100px 24px;
  }

  @content;
}

@mixin package {
  .packHead {
    background: color(green-primary);
    border-radius: 2px;
    font-family: Cabin;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: color(white);
    text-align: left;
    padding: 8px 18px;

    @include ipad {
      padding: 3px 20px;
      font-size: 16px;
    }
  }

  .packBody {
    text-align: left;
    box-shadow: 0px -1px 2px -1px color(grey-light);

    @include ipad {
      background-position-y: 133px;
    }

    .list {
      display: flex;
      align-items: center;
      padding: 6px 20px;

      @include phone {
        padding: 6px 10px;
      }

      span {
        width: 8px;
        height: 8px;
        padding: 4px;
        display: inline-block;
        background-color: color(red-primary);
        border-radius: 50%;

        @include ipad {
          width: 6px;
          height: 6px;
        }
      }

      label {
        margin-left: 15px;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 21px;
        color: color(black-light);

        @include ipad {
          font-size: 13px;
          margin-left: 5px;
        }
      }
    }

    .date {
      text-align: left;
      padding: 10px 20px;
      font-weight: bold;
      font-size: 16px;
      line-height: 21px;
      color: color(black-light);

      span {
        color: color(green-primary);
      }

      @include ipad {
        font-size: 13px;
      }

      @include phone {
        padding: 10px 10px;
      }
    }
  }

  @content;
}

@function color($color-name) {
  @return map-get($colors, $color-name);
}

@function size($size-name) {
  @return map-get($sizes, $size-name);
}

@function font($font-name) {
  @return map-get($fonts, $font-name);
}