@import "../../constants/index.scss";

.container {
  text-align: left;
  
  input {
    border: 1px solid #BDBDBD;
    padding: 6px;
    font-family: Raleway;
    border-radius: 2px;
    height: 42px;
    font-size: 16px;
    line-height: 21px;
    color: color(black-lighter);
    width: 40%;

    @include ipad {
      width: 100%;
      height: 36px;
      font-size: 13px;
    }
  }
}