@import "../../constants/index.scss";

.container {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: color(red-primary);
  text-align: left;
  padding-left: 10px;
  display: flex;
  justify-content: space-between;

  @include ipad {
    font-size: 9px;
  }

  img {
    float: right;
    padding: 5px;
  }
}