@import "../../constants/index.scss";

@include container {

  .content {
    @include content {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  .forms {
    flex: 1.1;
    order: 1;

    @include tablet {
      flex: 1.4;
    }

    .formwrapper {
      padding-right: 103px;
      
      @include tablet {
        padding-right: 0px;
      }

      @include ipad {
        position: relative;
      }

      .details>div{
        text-align: left;
        margin-bottom: 25px;
      }
      .checkBox {
        margin-bottom: -18px !important;
      }
  
      .payment {
        @include phone {
          margin-top: 25px;
        }

        .price {
          @include ipad {
            font-size: 13px;
          }

          >div {
            text-align: right;
            padding: 5px;
          }
          span {
            float: right;
            width: 93px;
            font-weight: bold;
            font-size: 16px;
            line-height: 21px;
          }
          .nonPack {
            span {
              color: color(red-primary);
            }
          }
          .pack {
            span {
              color: color(green-primary);
            }
          }
          .total,
          .total>span {
            font-family: font(Cabin);
            font-style: normal;
            font-weight: bold;
            font-size: 20px;
            line-height: 24px;
            color: color(black-light);

            @include ipad {
              font-size: 13px;
            }
          }
          .dashed {
            border-bottom: 1px dashed color(grey-light);
            margin-bottom: 5px;
            letter-spacing: 10px;
          }
        }
        .haveCoupon {
          text-align: left;
          display: none;
          
          @include ipad {
            display: flex;
          }

          span {
            font-family: Cabin;
            font-style: normal;
            font-weight: bold;
            font-size: 13px;
            line-height: 20px;
            color: #5FB868;
            margin-left: 7px;
            border-bottom: 1px dashed #5fb868;
            display: none;

            &:hover {
              cursor: pointer;
            }
            
            @include ipad {
              display: inherit;
            }
          }
        }
      }
    }
  }
  .package {
    flex: 1;
    order: 2;

    .packWrapper {
      padding: 0px 0px 20px 151px;

      @include tablet {
        padding: 0px 0px 20px 66px;
      }

      @include ipad {
        padding: 0px;
        margin-top: 20px;
      }
      
      @include package {
        .jagged {
          background: url('../../resources/images/jagged.png') repeat-x;
          height: 30px;
          background-size: 15px;
          background-position-y: 0px;
        }
      }
    }
  }
}